.address-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
}
.font-awsome-div i{
  margin-right: 20px;
  
}
.address-flex{
  padding: 2%;
}
.address-container{
  padding: 2%;
}
.selected-address {
  border: 2px solid rgb(126, 126, 218);
}

.address-form label {
  display: block;
  margin-bottom: 8px;
}

.address-form input {
  width: 100%;
  padding: 10px;

  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.address-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.address-form button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 750px) {
  .address-form {
    width: 100%;
    padding: 0;
  }

  .address-flex{
    padding: 2px;
  }

  .address-todo {
    padding: 0%;
    margin: 0%;
  }

  .address-form input {
    font-size: 14px;
  }
  .font-awsome-div i{
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
